body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(36, 34, 51);
    color: rgb(255, 247, 9);
}

#game-container {
    width: 600px;
    height: 400px;
    background-color: rgb(69, 64, 85);
    border: 3px solid white;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

#player {
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 260px;
    transition: transform 0.1s;
}

#enemy {
    width: 80px;
    position: absolute;
    top: 50px;
    right: 20px;
}

#dialogo {
    background-color: rgba(213, 71, 0, 0.588);
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    transition: transform 0.1s;
}

#dialogo:hover {
    transform: scale(1.1);
}

.vida-container {
    width: 250px;
    height: 20px;
    background: gray;
    margin: 10px auto;
    border: 2px solid white;
    position: relative;
}

.vida {
    height: 100%;
    transition: width 0.3s, background 0.3s;
}

#vida-player {
    background-color: rgb(44, 219, 9);
    width: 100%;
}

#vida-inimigo {
    background-color: rgb(223, 10, 10);
    width: 100%;
}

.btn {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.1s;
}

.btn:hover {
    transform: scale(1.1);
}

.dano {
    background: rgb(255, 55, 0);
    color: white;
}

.cura {
    background: rgb(81, 255, 0);
    color: white;
}

.loja {
    background: rgb(212, 195, 9);
    color: white;
}

.ataque {
    background: rgb(0, 0, 255);
    color: white;
}